fastapi
uvicorn
python-dotenv
requests
google-generativeai
groq
aiosqlite
PyPDF2
python-docx
sqlalchemy
pymysql
pymongo
pydantic
cryptography
PyJWT
passlib
bcrypt
python-multipart
email-validator
cors